.btn-button {
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    background-color: #ffc700;
    width: 98px;
    height: 30px;
  
  }