.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 479px;
  height: 573px;
  background: #6C6C6C;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-title {
  margin-top: 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 35px;
}

.form-email {
  width: 384px;
  height: 47px;
  background: #fefefe;
  border: 1px solid #fefefe;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
}

.form-senha {
  margin-top: 36px;
  width: 384px;
  height: 47px;
  background: #fefefe;
  border: 1px solid #fefefe;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
}

.form-button {
  margin-top: 36px;
  width: 384px;
  height: 47px;
  background: #ffc700;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Open Sans;
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
}
