.nav-content {
    background-color: #FFC700;
    display: flex;
    width: 100%;
}

.nav-title {
    padding-left: 49px;
    padding-top: 18px;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    line-height: 33px;
    color:#000;
}